@model VasilekCerozhka.Models.ViewModels.Product.UpdateProductVM

<form asp-action="ProductEdit">
    <input asp-for="UpdateProduct.ProductId" hidden />
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Обновить продукт</h1>

        <hr />
        <div class="row">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="col-2">
                <label asp-for="UpdateProduct.ProductName" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="UpdateProduct.ProductName" class="form-control" />
                <span asp-validation-for="UpdateProduct.ProductName" class="text-danger"></span>
            </div>


            <div class="form-group row py-2">

                <div class="col-2">
                    <label asp-for="UpdateProduct.Category.CategoryName" class="control-label pt-2" style="font-size:20px;">Категории</label>
                </div>
                <div class="col-10 pb-2">

                    <select asp-for="paramsCategory" asp-items="@Model.SelectCategorys" class="form-select text-center">
                        <option disabled selected>@(Model.UpdateProduct.Category.CategoryName)</option>
                    </select>

                </div>

            </div>


            <div class="col-2">
                <label asp-for="UpdateProduct.Description" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="UpdateProduct.Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="UpdateProduct.Description" class="text-danger"></span>
            </div>


            <div class="col-2">
                <label asp-for="UpdateProduct.MainImageUrl" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="UpdateProduct.MainImageUrl" class="form-control" />
                <span asp-validation-for="UpdateProduct.MainImageUrl" class="text-danger"></span>
            </div>




            <div class="col-2">
                <label asp-for="UpdateProduct.SecondaryImages" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                
                @if (Model.UpdateProduct.SecondaryImages.Count >0 )
                {
                    <table class="table table-borderless">
                        @foreach (var item in Model.UpdateProduct.SecondaryImages)
                        {
                            <tr>
                                <td>
                                    <div class="pb-1">
                                        <input asp-for="@item.ImageUrl" class="form-control" />
                                    </div>
                                </td>
                                <td class="col-1 text-end">
                                    <div class="col-1 pb-1">
                                        <a asp-action="ProductDelete" class="btn btn-outline-primary" asp-route-imageId="@item.ImageId">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                }

                <table class="table">
                    <tr>
                        <td>
                            <div id="second_images"></div>
                        </td>
                        <td class="col-1 text-end">
                            <div id="delete_url"></div>
                        </td>
                    </tr>
                </table>

                <div class="col-3">
                    <input asp-for="Images" type="button" value="Добавить" class="btn btn-outline-primary form-control" onclick="addImages()" />
                </div>

                <span asp-validation-for="UpdateProduct.SecondaryImages" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="UpdateProduct.Price" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="UpdateProduct.Price" class="form-control" />
                <span asp-validation-for="UpdateProduct.Price" class="text-danger"></span>
            </div>


            <div class="col-5 offset-2">
                <a asp-action="ProductIndex" class="btn btn-outline-primary form-control">Вернуться</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Обновить" class="btn btn-outline-primary form-control" />
            </div>

        </div>

        <div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script type="text/javascript">

    function addImages() {

        // определяем контейнер для хранения полей
        let container = document.getElementById("second_images");
        let fieldCount = container.getElementsByTagName("input").length;
        let nextFieldId = fieldCount + 1;

        // здесь добавляем элемент, который будет хранить input
        let div = document.createElement("div");
            div.setAttribute("class", "form-group pb-2");

        // создаем новое поле с новым id
        let field = document.createElement("input");
            field.setAttribute("class", "form-control");
            field.setAttribute("id", "Images[" + nextFieldId + "]");
            field.setAttribute("name", "Images");
            field.setAttribute("type", "text");
            field.setAttribute("placeholder", "Введите url изображения");

        // добавляем поле в <div class="form-group"></div>
        div.appendChild(field);
        // добавляем <div class="form-group"><input ... /></div> в главный контейнер
        container.appendChild(div);

        let containerBtn = document.getElementById("delete_url");
        let divBtn = document.createElement("div");
            divBtn.setAttribute("class", "col-1 pb-2");
            
        let fieldBtn = document.createElement("div");
            fieldBtn.setAttribute("id", "Btn[" + nextFieldId + "]");
            fieldBtn.setAttribute("class", "btn btn-outline-primary");
        fieldBtn.setAttribute("onclick", "deleteImages('Images[" + nextFieldId + "]','Btn[" + nextFieldId + "]')");

        let i = document.createElement("i");
            i.setAttribute("class", "fas fa-trash");

        fieldBtn.appendChild(i);
        divBtn.appendChild(fieldBtn);
        containerBtn.appendChild(divBtn);
    }

    function deleteImages(idInput,idBtn) {
        document.getElementById(idInput).remove();
        document.getElementById(idBtn).remove();
    }

</script>