@import url(https://fonts.googleapis.com/css?family=Poppins:300);

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
  position: relative;
  min-height: 100%;
}
body {
    margin-bottom: 60px;
    background: url(/img/Fon.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}
hr {
    background: rgba(13, 110, 253);
}


.form-glass {
    position: relative;
    background: transparent;
    border: 2px solid rgba(98,159,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}


/*      button           */
.container_btn_custom {
    display: flex;
    justify-content: center;
    align-items: center;
}
.a_custom {
    border-radius: 5px;
    font-size: 1.3rem;
    padding: 0.3rem 4rem;
    color: #0d6efd;
    background: transparent;
}
.i_custom {
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 0.3rem 1.2rem;
    color: #0d6efd;
}
.a_custom:hover, .i_custom:hover {

    color: #fff;
    background: #71adde55;
}
.i_custom_clik {
    color: #fff;
    background: #71adde55;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 0.3rem 1rem;
}
.i_custom_clik:hover {
    color: #0d6efd;
    background: transparent;
}
.btn_custom {
    text-decoration: none;
    border: 1px solid rgb(13, 110, 253);
    position: relative;
    overflow: hidden;
}
.btn_custom:hover {
  box-shadow: 1px 1px 25px 10px rgba(13, 110, 253, 0.4);
}
.btn_custom:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    100deg,
    transparent,
    rgba(13, 110, 253, 0.4),
    transparent
  );
  transition: all 650ms;
}
.btn_custom:hover:before {
  left: 100%;
}


/*   блеск и рамка для img   */
.effect_gloss_img {
  box-sizing: border-box;
  height: 220px;
  background-color: #5993fd;
  overflow: hidden;
  position: relative;
  box-shadow: 2px 2px 5px 0 #b0cfff;
}
.effect_gloss_img::before {
  content:'';
  width: 500px;
  height: 300px;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 40%,
    rgba(255, 255, 255, 0.3) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  transform-origin: center center;
  position: absolute;
  z-index: 10;
  animation-delay: 1s;
  animation-name: mask-ani;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.effect_gloss_img::after {
  content: '';
  width: 500px;
  height: 50px;
  opacity: 0;
  background-color: #ffffffcc;
  filter: blur(0.5rem);
  transform-origin: center center;
  position: absolute;
  z-index: 1;
  animation-delay: 1s;
  animation-name: mask-border-ani;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.effect_gloss_img img {
  height:98%;
  width: 98%;
  vertical-align: top;
  z-index: 5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
@keyframes mask-ani {
  0% {
    transform: rotate(-36deg) translate(-40px, -430px);
  }

  70%,
  100% {
    transform: rotate(-36deg) translate(-40px, 378px);
  }
}
@keyframes mask-border-ani {
  0% {
    opacity: 0.8;
    transform: rotate(-36deg) translate(-126px, -190px);
  }

  70%,
  100% {
    opacity: 0.8;
    transform: rotate(-36deg) translate(-126px, 355px);
  }
}

/*   блеск и рамка для div   */
.effect_gloss_div {
  box-sizing: border-box;
  height: 220px;
  background-color: #5993fd;
  overflow: hidden;
  position: relative;
  box-shadow: 2px 2px 5px 0 #b0cfff;
}
.effect_gloss_div::before {
  content:'';
  width: 500px;
  height: 300px;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 40%,
    rgba(255, 255, 255, 0.3) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  transform-origin: center center;
  position: absolute;
  z-index: 10;
  animation-delay: 1s;
  animation-name: mask-ani;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.effect_gloss_div::after {
  content: '';
  width: 500px;
  height: 50px;
  opacity: 0;
  background-color: #ffffffcc;
  filter: blur(0.5rem);
  transform-origin: center center;
  position: absolute;
  animation-delay: 1s;
  animation-name: mask-border-ani;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.effect_gloss_div div {
  height:98%;
  width: 98%;
  vertical-align: top;
  z-index: 5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
@keyframes mask-ani {
  0% {
    transform: rotate(-36deg) translate(-40px, -430px);
  }

  70%,
  100% {
    transform: rotate(-36deg) translate(-40px, 378px);
  }
}
@keyframes mask-border-ani {
  0% {
    opacity: 0.8;
    transform: rotate(-36deg) translate(-126px, -190px);
  }

  70%,
  100% {
    opacity: 0.8;
    transform: rotate(-36deg) translate(-126px, 355px);
  }
}











.formsss {
  widht: 50%;
  height: 55px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  color: #0d5efd;
  font-size:20px;
}
.formsss input {
  width: 100%;
  height: 100%;
  color: #5fa8d3;
  padding-top: 10px;
  border: none;
  outline: none;
  font-size:24px;
}
.formsss label {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 1px;
  left: 0%;
  pointer-events: none;
  border-bottom: 2px solid #5993fda1;
}
.formsss label::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #0d6efd;
  bottom: -1px;
  left: 0px;
  transform: translateX(-100%);
  transition: all 0.3s cubic-bezier(0, 0.3, 0, 0.39);
  filter: blur(1px);
}
.content-namesss {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.2s ease;
}
.formsss input:focus + .label-namesss .content-namesss,
.formsss input:valid + .label-namesss .content-namesss {
  transform: translateY(-150%);
  font-size: 14px;
  color: #5fa8d3;
}
.formsss input:focus + .label-namesss::after,
.formsss input:valid + .label-namesss::after {
  transform: translateX(0%);
}
.made {
  position: absolute;

  bottom: 10%;
}
.made i {
  color: red;
}
