@import url(https://fonts.googleapis.com/css?family=Poppins:300);

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
  position: relative;
  min-height: 100%;
}
body {
    margin-bottom: 60px;
    background: url(/img/Fon.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}
hr {
    background: rgba(13, 110, 253);
}

.form-glass {
    position: relative;
    background: transparent;
    border: 2px solid rgba(98,159,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

div[disabled] {
    pointer-events: none;
    background: #b0cfff54;
    border-radius: 0px 5px 5px 5px;
}

::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #414549;
}

/*      loader         */

.loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    animation: fIn 2s;
    animation-fill-mode: forwards;
}
.loader{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  border-top: 5px solid #5993fd;
  border-right: 5px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after{
  content:' ';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-bottom: 5px solid #afceff;
  border-left: 5px solid transparent;
}
@keyframes rotation{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@keyframes fIn {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/*      button custom         */
.container_btn_custom {
    display: flex;
    justify-content: center;
    align-items: center;
}
.a_custom {
    border-radius: 5px;
    font-size: 1.3rem;
    padding: 0.3rem 4rem;
    color: #0d6efd;
    background: transparent;
}
.i_custom {
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 0.3rem 1.2rem;
    color: #0d6efd;
}
.a_custom:hover, .i_custom:hover {
    cursor: pointer;
    color: #fff;
    background: #71adde55;
}
.i_custom_clik {
    color: #fff;
    background: #71adde55;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 0.3rem 1rem;
}
.i_custom_clik:hover {
    color: #0d6efd;
    background: transparent;
}
.btn_custom {
    text-decoration: none;
    border: 1px solid rgb(13, 110, 253);
    position: relative;
    overflow: hidden;
}
.btn_custom:hover {
  box-shadow: 1px 1px 25px 10px rgba(13, 110, 253, 0.4);
}
.btn_custom:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    100deg,
    transparent,
    rgba(13, 110, 253, 0.4),
    transparent
  );
  transition: all 650ms;
}
.btn_custom:hover:before {
  left: 100%;
}

/*   блеск и рамка для img   */
.effect_gloss_img {
  box-sizing: border-box;
  height: 220px;
  background-color: #5993fd;
  overflow: hidden;
  position: relative;
  box-shadow: 2px 2px 5px 0 #b0cfff;
}
.effect_gloss_img::before {
  content:'';
  width: 500px;
  height: 300px;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 40%,
    rgba(255, 255, 255, 0.3) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  transform-origin: center center;
  position: absolute;
  z-index: 10;
  animation-delay: 1s;
  animation-name: mask-ani;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.effect_gloss_img::after {
  content: '';
  width: 500px;
  height: 50px;
  opacity: 0;
  background-color: #ffffffcc;
  filter: blur(0.5rem);
  transform-origin: center center;
  position: absolute;
  z-index: 1;
  animation-delay: 1s;
  animation-name: mask-border-ani;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.effect_gloss_img img {
  height:98%;
  width: 98%;
  vertical-align: top;
  z-index: 5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
@keyframes mask-ani {
  0% {
    transform: rotate(-36deg) translate(-40px, -430px);
  }

  70%,
  100% {
    transform: rotate(-36deg) translate(-40px, 378px);
  }
}
@keyframes mask-border-ani {
  0% {
    opacity: 0.8;
    transform: rotate(-36deg) translate(-126px, -190px);
  }

  70%,
  100% {
    opacity: 0.8;
    transform: rotate(-36deg) translate(-126px, 355px);
  }
}

/*   blesk i ramka div   */
.effect_gloss_div {
  box-sizing: border-box;
  height: 220px;
  background-color: #5993fd;
  overflow: hidden;
  position: relative;
  box-shadow: 2px 2px 5px 0 #b0cfff;
}
.effect_gloss_div::before {
  content:'';
  width: 500px;
  height: 300px;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 40%,
    rgba(255, 255, 255, 0.3) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  transform-origin: center center;
  position: absolute;
  z-index: 10;
  animation-delay: 1s;
  animation-name: mask-ani;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.effect_gloss_div::after {
  content: '';
  width: 500px;
  height: 50px;
  opacity: 0;
  background-color: #ffffffcc;
  filter: blur(0.5rem);
  transform-origin: center center;
  position: absolute;
  animation-delay: 1s;
  animation-name: mask-border-ani;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.effect_gloss_div div {
  height:98%;
  width: 98%;
  vertical-align: top;
  z-index: 5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
@keyframes mask-ani {
  0% {
    transform: rotate(-36deg) translate(-40px, -430px);
  }

  70%,
  100% {
    transform: rotate(-36deg) translate(-40px, 378px);
  }
}
@keyframes mask-border-ani {
  0% {
    opacity: 0.8;
    transform: rotate(-36deg) translate(-126px, -190px);
  }

  70%,
  100% {
    opacity: 0.8;
    transform: rotate(-36deg) translate(-126px, 355px);
  }
}

/*   input custom   */
.form_input_custom {
  height: 55px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  color: #0d5efd;
  font-size:20px;
}
.form_input_custom input {
  width: 100%;
  height: 100%;
  padding: 0.2em 0.5em;
  color: #051a50;
  padding-top: 10px;
  border: none;
  outline: none;
  font-size:24px;
  background: transparent;
}
.form_input_custom label {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 1px;
  left: 0%;
  pointer-events: none;
  border-bottom: 2px solid #5993fda1;
}
.form_input_custom label::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #0d6efd;
  bottom: -1px;
  left: 0px;
  transform: translateX(-100%);
  transition: all 0.3s cubic-bezier(0, 0.3, 0, 0.39);
  filter: blur(1px);
}
.content_name_input {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.2s ease;
}
.form_input_custom input:focus + .label_name_input .content_name_input,
.form_input_custom input:valid + .label_name_input .content_name_input {
    transform: translateY(-150%);
    font-size: 14px;
    color: #155cc5;
}
.form_input_custom input:focus + .label_name_input::after,
.form_input_custom input:valid + .label_name_input::after {
  transform: translateX(0%);
}
.made {
  position: absolute;

  bottom: 10%;
}
.made i {
  color: red;
}

/*   input custom secondary   */
.label_secondary_inputs {
    font-size: 14px;
    color: #155cc5;
    position: relative;
    z-index: 1;
    bottom: -20px;
}
.form_input_secondary_custom {
  position: relative;
  overflow: hidden;
}
.form_input_secondary_custom input {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  color: #051a50;
  padding-top: 10px;
  border: none;
  outline: none;
  font-size:20px;
  background: transparent;
}
.form_input_secondary_custom label {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 1px;
  left: 0%;
  pointer-events: none;
  border-bottom: 2px solid #5993fda1;
}
.form_input_secondary_custom input::placeholder {
    color: #051a5ab9;
}
.form_input_secondary_custom label::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #0d6efd;
  bottom: -1px;
  left: 0px;
  transform: translateX(-100%);
  transition: all 0.3s cubic-bezier(0, 0.3, 0, 0.39);
  filter: blur(1px);
}
.form_input_secondary_custom input:focus + .label_name_input_secondary::after,
.form_input_secondary_custom input:valid + .label_name_input_secondary::after {
    transform: translateX(0%);
}

/*   select custom   */
.sel {
  height: 55px;
  margin: 1em 1em;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}
.sel__placeholder {
  display: block;
  font-size: 24px;
  color: #051a50;
  padding: 0.59em 0.5em;
  text-align: left;
  pointer-events: none;
  user-select: none;
  visibility: visible;
}
.sel.active .sel__placeholder {
  visibility: hidden;
}
.sel__placeholder::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.59em 0.5em;
  content: attr(data-placeholder);
  visibility: hidden;
}
.sel.active .sel__placeholder::before {
  visibility: visible;
}
.sel__box {
    position: absolute;
    top: calc(100% + 4px);
    left: -4px;
    display: none;
    list-style-type: none;
    text-align: left;
    font-size: 1em;
    background-color: #b9cdf8e9;
    width: calc(100% + 8px);
    box-sizing: border-box;
    z-index: 3;
}
.sel.active .sel__box {
  display: block;
  animation: fadeInUp 1350ms;
}
.sel__box__options {
  display: list-item;
  font-size: 1.5em;
  color: #051a50;
  padding: 0.5em 1em;
  user-select: none;
}
.sel__box__options:hover {
  background-color: #99bbfe;
}
.sel label {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 1px;
  left: 0%;
  pointer-events: none;
  border-bottom: 2px solid #5993fda1;
}
.sel label::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #0d6efd;
  bottom: -1px;
  left: 0px;
  transform: translateX(-100%);
  transition: all 0.3s cubic-bezier(0, 0.3, 0, 0.39);
  filter: blur(1px);
}
.content_name_select {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.2s ease;
}
.sel select:focus + .label_name_select .content_name_select,
.sel select:valid + .label_name_select .content_name_select {
  transform: translateY(-150%);
  font-size: 14px;
  color: #155cc5;
}
.sel select:focus + .label_name_select::after,
.sel select:valid + .label_name_select::after {
  transform: translateX(0%);
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/*   textarea custom   */
.border_textarea_custom {
    position: relative;
    background: #b0cfff2b;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    overflow: hidden;
}
.border_textarea_custom::before {
    content: " ";
    position: absolute;
    width: 900px;
    height: 900px;
    background: conic-gradient( transparent,transparent,transparent,#96bbfe );
    animation: animate 4s linear infinite;
    animation-delay: -2s;
 
}
.border_textarea_custom::after{
    content: " ";
    position: absolute;
    width: 900px;
    height: 900px;
    background: conic-gradient( transparent,transparent,transparent,#96bbfe );
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
.textarea_custom {
    background: transparent;
    border-color: #5993fd00;
    z-index: 1;
    border-width: 2px;
    height: 35px;
    color: #051a50;
    display: block;
    width: 100%;
    resize: none;
    border-radius: 0.25rem;
    padding: 0.1rem 0.7rem;
    transition: 1s;
}
.span_label_textarea {
    position: relative;
    display: block;
    top: -2px;
    border-bottom: 2px solid #96bbfe;
}
.textarea_custom::-webkit-scrollbar{
    width:10px;
}
.textarea_custom::-webkit-scrollbar-track {
    background: transparent;
}
.textarea_custom::-webkit-scrollbar-thumb {
    background:#b0cfff;
    border-radius: 0.25rem;
}
.textarea_custom:focus{
   width: 100%;
   background: #e1eaf9;
   color: #051a50;
   border-radius: 0.25rem;
   border-color: #5993fd;
   border-width: 2px;
   outline: 0;
}
.label_textarea {
    font-size: 20px;
    color: #0d5efd;
    position: absolute;
    z-index: 2;
    transform: translateX(0%);
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0,0.3,0,0.39);
}
.label_textarea_focus {
    position: absolute;
    transform: translateY(-120%);
    font-size: 14px;
    color: #155cc5;
    z-index: 2;
}

/*   slider   */

:root {
  --z-distance: $item-width / 7.63;
  --from-left: 1;
  --mobile-bkp: $mobile-bkp;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.slider_container {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  font-family: Lora, serif;
  font-size: calc(14px + 0.3vw);
}
.slider {
  width: 100vw;
  height: 100vh;
  display: flex;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.slider::before, .slider::after {
  content: "";
  left: -1vw;
  top: -1vh;
  display: block;
  position: absolute;
  width: 102vw;
  height: 102vh;
  background-position: center;
  background-size: cover;
  will-change: opacity;
  z-index: -1;
  box-shadow: 0 0 0 50vmax hsla(0deg, 50%, 0%, 0.7) inset;
}
.slider::before {
  background-image: var(--img-prev);
}
.slider::after {
  transition: opacity 0.7s;
  opacity: 0;
  background-image: var(--img-next);
}
.slider--bg-next::after {
  opacity: 1;
}
.slider__content {
  margin: auto;
  width: 70vw;
  height:70vw;
  max-height: 70vh;
  will-change: transform;
  transform-style: preserve-3d;
  transform: translateZ(var(--z-distance));
}
.slider__images {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  box-shadow: 0 0 5em #000;
}
.slider__images-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  will-change: transform;
  transition-timing-function: ease-in;
  visibility: hidden;
}
.slider__images-item img {
  display: block;
  position: relative;
  left: -1em;
  top: -1em;
  width: calc(100% + 1em * 2);
  height: calc(100% + 1em * 2);
  object-fit: cover;
  will-change: transform;
}
.slider__images-item--active {
  z-index: 20;
  visibility: visible;
}
.slider__images-item--subactive {
  z-index: 15;
  visibility: visible;
}
.slider__images-item--next {
  transform: translateX(100%);
}
.slider__images-item--prev {
  transform: translateX(-100%);
}
.slider__images-item--transit {
  transition: transform 0.7s, opacity 0.7s;
}
.slider__text-item {
  padding: 0.5em;
}
.slider__text-item > * {
  overflow: hidden;
  position: absolute;
}
.slider__text-item h3, .slider__text-item p {
  transition: transform 0.35s ease-out;
  overflow: hidden;
}
.slider__text-item h3 {
  background-color: hsla(0deg, 50%, 100%, 0.5);
}
.slider__text-item p {
  font-family: "Open Sans", sans-serif;
  padding: 1em;
  color: white;
  text-align: center;
  background-color: hsla(0deg, 0%, 0%, 0.5);
}
.slider__text-item h3::before, .slider__text-item p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(0);
  transition: transform 0.35s ease-out 0.28s;
}
.slider__text-item h3::before {
  background-color: #000;
  left:1px;
}
.slider__text-item p::before {
  background-color: #fff;
  left:-1px;
}
.slider__text-item h3 {
  margin: 0;
  font-size: 3.5em;
  padding: 0 0.3em;
  position: relative;
  font-weight: 700;
  transform: translateX(-100%);
}
.slider__text-item p {
  margin: 0;
  transform: translateX(100%);
}
.slider__text-item-head {
  top: -0.5em;
  transform: translateZ(3em);
}
.slider__text-item-info {
  bottom: -10px;
  right: -10px;
  max-width: 75%;
  min-width: min-content;
  transform: translateZ(2em);
}
.slider__text-item--active h3, .slider__text-item--active p {
  transform: translateX(0);
}
.slider__text-item--active h3::before {
  transform: translateX(100%);
}
.slider__text-item--active p::before {
  transform: translateX(-100%);
}
.slider__text-item--backwards h3::before, .slider__text-item--backwards p::before {
  transition: transform 0.35s ease-in;
}
.slider__text-item--backwards h3, .slider__text-item--backwards p {
  transition: transform 0.35s ease-in 0.35s;
}
.slider__nav {
  position: absolute;
  width: 100%;
  top:81%;
  text-align: center;
}
.slider__nav-dots {
  margin-top: 5vh;
  display: inline-flex;
  position: relative;
  padding: 1em;
}
.slider__nav-dots::before {
  content: "";
  position: absolute;
  left: calc(1em + 1em + 2px);
  top: calc(1em + 2px);
  width: calc(2em - 2px * 2);
  height: calc(1em / 2 - 2px * 2);
  background-color: hsla(0deg, 50%, 100%, 0.9);
  transition: transform 0.7s ease-out;
  transform: translateX(calc((2em + 1em * 2) * (var(--from-left) - 1)));
}
.slider__nav-dot {
  margin: 0 1em;
  width: 2em;
  height: 0.5em;
  border: 2px solid hsla(0deg, 50%, 100%, 0.5);
}
.slider__nav-dot:hover {
  border-color: hsla(0deg, 50%, 100%, 0.7);
}
.slider__nav-dot:active {
  border-color: hsla(0deg, 50%, 100%, 0.5);
}  
.slider__move-left{
  content: " ";
  position: absolute;
  z-index: 9;
  width: 15vw;
  height: 80vw;
  max-height: 80vh;
  left: 50%;
  margin-left: -50%;
  top: 10%;
  background: transparent;
  transition:1s; 
  color:transparent;
  display: flex;
  align-items: center;
  justify-content: center
}
.slider__move-left:hover{
  color:#8285808c;
}
.slider__move-right{
  position: absolute;
  z-index: 9;
  width: 15vw;
  height: 1000vw;
  max-height: 80vh;
  left: 85%;
  top: 10%;
  background: transparent;
  transition:1s; 
  color:transparent;
  display: flex;
  align-items: center;
  justify-content: center
}
.slider__move-right:hover{
  color:#8285808c;
}

/*   card add  */

.main-card-add{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 39px;
  font-family: 'Roboto', sans-serif;
}
.card-add {
    width: 100%;
    height: 20rem;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    background: transparent;
    box-shadow: 0px 1px 20px 1px #5993fd;
}
.card-add img{
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  opacity: 0.9;
  transition: opacity 0.2s ease-out;
}
.card-add:hover img{
  transition: opacity 0.3s ease-in;
  opacity: 1;
}
.card_add_effect_gloss_img::before {
  content:' ';
  width: 500px;
  height: 500px;
  top: -100px;
  left: -150px;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0.3) 59%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: blur(1rem);
  transform-origin: center center;
  position: absolute;
  z-index: 8;
  animation-delay: 0.5s;
  animation-name: mask-ani;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.card_add_effect_gloss_img::after {
  content:' ';
  width: 500px;
  height: 50px;
  opacity: 0;
  top: -50px;
  left: -250px;
  background-color: #ffffff59;
  filter: blur(1.2rem);
  transform-origin: center center;
  position: absolute;
  z-index: 5;
  animation-delay: 0.5s;
  animation-name: mask-border-ani;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.card_add_effect_gloss_img img {
  vertical-align: top;
  z-index: 5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
@keyframes mask-ani {
  0% {
    transform: rotate(-50deg) translate(-40px, -430px);
  }
  70%,
  100% {
    transform: rotate(-50deg) translate(-40px, 500px);
  }
}
@keyframes mask-border-ani {
  0% {
    opacity: 0.8;
    transform: rotate(-50deg) translate(-126px, -190px);
  }
  70%,
  100% {
    opacity: 0.8;
    transform: rotate(-50deg) translate(-126px, 500px);
  }
}